/* background-color: #957D58; */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
nav{
    background-color: #957D58;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    margin: 1%;
    width: 100px;
    height: 100px;
    background-color: darkgray;
    text-align: center;
    align-content: center;
}
.panier{
    margin: 1%;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #954E20;
    align-content: center;
    text-align: center;
    color: white;
}
.ancre{
    background-color: #610009;
    height: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10%;

}
.ancre a{
    color: white;
    text-decoration: none;
}
.panier .active .panier{
    color: #957D58;
}
.ancre .active{
    color: #957D58;
} 
.ancre a:hover{
    color: wheat;
}
section{
    height: 100vh;
}

/* Page : Accueil - section 1 */
.sec_1{
    background-image: url("../Image/blacksmith-1412-x-900-wallpaper-tu6f9hxp7vjcrblm.jpg");
    color: white;
}
.sec_1 h2{
    margin-top: 0;
    padding-left: 5%;
    padding-top: 5%;
}
.sec_1 .content_sec_1{
    width: 40%;
    display: flex;
    justify-content: end;
}

/* Page : Accueil - section 2 */
.sec_2{
    background-color: #957D58;
}
.sec_2 .Image_outils{
    display: flex;
    justify-content: center;
    height: 681px;
    width: 1024px;
    background-image: url("../Image/Capture\ d\'écran\ 2024-11-26\ 102933.png");
}
.outils_savoir_plus{
    margin: 5%;
    display: flex;
    justify-content: center;
}
.outils_savoir_plus a{
    width: 20%;
    height: 7vh;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    color: #c0b66c;
    background-color: #610009;
}
.outils_savoir_plus .savoir_plus{
    height: 7vh;
    width: 100%;
    border-radius: 10px;
    background-color: #610009;
    color: #c0b66c;
}
.outils_savoir_plus .savoir_plus p{
    font-size: 16px;
}
/* Page : Accueil - section 3 */
.sec_3{
    background-color: grey;
}
.sec_3 .content_sec_3{
    height: 60vh;
    text-align: center;
}
.sec_3 h2{
    margin-top: 0;
    padding-left: 5%;
    padding-top: 5%;
}
.sec_3 .content_sec_3 .formulaire_newsletter{
    width: 100%;
}
.sec_3 .content_sec_3 .formulaire_newsletter #Newsletter{
    width: 59%;
}
.sec_3 .content_sec_3 .formulaire_newsletter button{
    width: 60%;
    background-color: #ffffff;
    color: #610009;
    border: 2px #610009;
}
.sec_3 .content_sec_3 .formulaire_newsletter button:hover{
    background-color: #610009;
    color: #c0b66c;
}
/* Page : Accueil - section 3 -- Footer*/
footer{
    width: 100%;
    height: 40vh;
    background-color: black;
    color: white;
    text-align: center;
}
footer h3{
    margin-top: 0;
    padding-top: 20px;
}
footer .politique_footer{
    width: 100%;
    display: flex;
    justify-items: space-around;
}


section img{
    width: 100%;
    margin: 0;
}
.part_2{
    margin: 5px;
}
.section_outils{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.outils{
    width: 20%;
    min-height: 40vh;
    padding: 5px;
    background-color: black;
}
.outils h2{
    text-align: center;
    color:#ae262b;
}
.outils p, .outils ol li{
    color:#c0b66c;
}

